.container
  .row
    h1.first-title Pattison Ho
    h3 何俊憙 (Ho Chun Hsi) 
    p Front-end developer with deep design know-how and visualization techniques.
  #column1.column.column--left
    .block
      h1#profile.first-title Profile
      h3.subtitle Language: 
      ul
        li Chinese: Native speaker
        li English: Communication level
      h3.subtitle E-mail:
      ul
        li
          a(href='mailto:yapi.tw@gmail.com', target='_blank') yapi.tw@gmail.com
      h3.subtitle Mobile:
      ul
        li SG: +65-8249-1912
        li TW: +886-920-774-720
      h3.subtitle Web accounts
      ul
        li
          | GitHub:
          br
          a(href='https://github.com/yapitw/', target='_blank') https://github.com/yapitw/
        //- li
          | Recent study:
          br
          a(href='https://yapitw.github.io/yapi-graphics/', target="_blank") https://yapitw.github.io/yapi-graphics/
        li
          | CodePen:
          br
          a(href='https://codepen.io/yapi/', target='_blank') https://codepen.io/yapi/
        //- li
          | Art study:
          br
          a(href='http://yapi-art.surge.sh/', target="_blank") http://yapi-art.surge.sh/
    .block
      h1.first-title Tools I use
      h3.subtitle Javascript:
      ul
        li 
          | Vanilla JS,
          |  ECMA Script 6,
          |  TypeScript,
          |  node.js and npm,
          |  HTML5 Canvas API,
      h3.subtitle JS frameworks / libraries
      ul
        li
          |  React,
          |  Vue,
          |  Webpack,
          |  Gulp,
          |  Three.js,
          |  D3.js,
          |  JQuery,
          |  GSAP,
          |  Express,
          |  Jest,
          |  React Testing Library,
          |  emscripten
      h3.subtitle HTML
      ul
        li PUG template, SVG graphics
      h3.subtitle CSS
      ul
        li SCSS pre-processing, BEM naming style, Functional CSS
      h3.subtitle SCM
      ul
        li Git
      h3.subtitle Other Programming Lang.
      ul
        li In touch with python, C, GLSL
      h3.subtitle 3D Graphics
      ul
        li
          | Blender,
          | Rhinoceros with Grasshopper,
          | ZBrush,
          | Houdini
      h3.subtitle 2D Graphics
      ul
        li Photoshop, Illustrator
  #column2.column.column--right
    .block
      h1.first-title Core skills
      h3.subtitle Front-end Development
      ul
        li Construct npm environment for frontend projects.
        li Usage of web APIs and services including AWS, FB SDK and GCP ...etc.
        li Well and smooth communication with designer and product manager.
        li Back-end development (Node.js).
        li 3D Computer graphics fundamental.
      h3.subtitle Graphics
      ul
        li 3D progressive modeling, 3D sculpting.
    .block
      h1 Career Summary
      h3.subtitle Orion Consultancy as Web Developer - since 2018 May - 1 year 4 months
      ul
        li Responsibility:
        li Develop frontend projects User Interface with React.
        li Fix and Maintain backend User Interface with React TypeScript.
        li Migrate old projects into newer technology for better maintenance.
        li Apply requirements and slice web pages.

      h3.subtitle 18Design Co., Ltd. as Web Front-end Developer - since 2017, 1 year
      ul
        li Responsibility:
        li
          | Explore and discuss solution with multiple parties (PM, designer, backend Dev.) for ensuring projects executed well.
        li Explore social media APIs and use it in projects.
        li Make applications run well in pc and mobile platforms.
        li Front-end development. Coding HTML CSS Javascript.
        li PUG, SASS preprocessor coding.
        li Script CSS, SVG animation.
        li Version control by TortoiseHG.
      h3.subtitle trii collection SOHO studio as Founder - 2014~2016, 3 years
      ul
        li Responsibility:
        li One of founders. Designed road map with other founders.
        li Surveyed 3D printing techniques.
        li Designer - design accessories.
        li Modeler - Progressive 3D model design.
        li Manipulation of 3D printing process.
        li Contracted products development.
        li Web page building - HTML, CSS, Javascript, JQuery
      h3.subtitle Aye-star Co., Ltd. as Special Assistant - 2010~2015, 5 years
      ul
        li Responsibility:
        li Engaged in production development and solution discussion.
        li End-to-end order management, from component to final product.
        li Key officer translating customer in to feasible production process.
        li Quality control tour with customer.
    .block
      h1#education.first-title Education
      h3.subtitle Industrial Design Bachelor degree
      ul
        li National Taipei University of Technology.
      h3.subtitle Advanced Javascript front-end engineering course
      ul
        li Information System Training Program from National Taiwan University.
      h3.subtitle Self learning
      ul
        li
          | Learning front-end programming skills and 3D softwares from several online sources like Udemy, Udacity, Codecademy, Hahow, Hiskio, Youtube ...ETC.
#column3.column
    h1.first-title Works
    .work
      a(href='https://yapitw.github.io/yapi-graphics/', target='_blank')
        img.work__img(src='images/work-graphics.jpg')
      .work-block
        h3.subtitle
          | Graphics study
        ul
          li
            a(href='https://yapitw.github.io/yapi-graphics/', target='_blank') link
            span  
            a(href='https://github.com/yapitw/yapi-graphics', target='_blank') Source Code
          li Graphics algorithms study.
    .work
      a(href='http://yapitw.github.io/wordsring/build', target='_blank')
        img.work__img(src='images/work-wordsring.png')
      .work-block
        h3.subtitle
          | Words-ring simulation 
        ul
          li
            a(href='http://yapitw.github.io/wordsring/build', target='_blank') link
            span  
            a(href='https://github.com/yapitw/yapi-graphics', target='_blank') Source Code
          li Use three.js webgl library simulating 3D ring with customized content.
    .work
      a(href='http://www.starlike.com.tw/ARC/NODIN/', target='_blank')
        img.work__img(src='images/work-arcteryx.jpg')
      .work-block
        h3.subtitle
          | Arc'teryx NODIN 
        ul
          li
            a(href='http://www.starlike.com.tw/ARC/NODIN/', target='_blank') link
          li HTML Layout, CSS Animation.
          li JQuery interaction.
    .work
      a(href='https://www.104.com.tw/cfdocs/project/1707/170707_innolux_hr/', target='_blank')
        img.work__img(src='images/work-innolux.png')
      .work-block
        h3.subtitle
          | InnoLux recruitment 
        ul
          li 
            a(href='https://www.104.com.tw/cfdocs/project/1707/170707_innolux_hr/', target='_blank') link
          li Interactive main vision using HTML5 Canvas api.
    .work
      a(href='http://www.104.com.tw/cfdocs/project/2017Fresh/default.htm', target='_blank')
        img.work__img(src='images/work-104.jpg')
      .work-block
        h3.subtitle
          | 104 Freshman event 
        ul
          li
            a(href='http://www.104.com.tw/cfdocs/project/2017Fresh/default.htm', target='_blank') link
            |  (mobile version only)
          li Intro animation done with three.js library.
          li Use mobile tilt sensor control camera angel.
          li Control animation time line with scroll event.
          li Sharing action with options using HTML5 2D canvas api.
          li Sharing function using Facebook SDK.
    .work
      a(href='http://yapi-art.surge.sh/', target='_blank')
        img.work__img(src='images/work-art.png')
      .work-block
        h3.subtitle
          | My Art works 
        ul
          li
            a(href='http://yapi-art.surge.sh/', target='_blank') link
          li My 2D and 3D creation for fun.
.canvas-bg
  .canvas-wrapper